:root {
  --heading: #4c4c4c;
  --body: #343434;
  --background: #fffef5;
  --election-bg: linear-gradient(180deg, #78bced 0%, #f9e0a6 78.53%);
  --registration-bg: linear-gradient(180deg, #e4716c 0%, #e9bbae 100%);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--body);
  padding: 0;
  margin: 0;
  font-family: "General Sans", sans-serif;
  font-size: 18px;
  line-height: 175%;
}

h1,
h2,
p {
  margin: 0;
}

h1,
article,
footer {
  position: relative;
  z-index: 1;
}

header {
  display: flex;
  align-items: center;
  padding: calc(1 / 48 * 100vw) calc(1 / 48 * 100vw) 90px;
}

header .logo {
  width: calc(4 / 48 * 100vw);
}

h1 {
  flex: 1;
  color: var(--heading);
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 500;
  font-size: 59px;
  line-height: 73px;
}

h2 {
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 30px;
}

article {
  display: grid;
  row-gap: 60px;
  grid-template-columns: 1fr;
  margin: 0 calc(3 / 48 * 100vw) calc(3 / 48 * 100vw);
  max-width: calc(28 / 48 * 100vw);
}

p.emphasis {
  font-size: 24px;
}

p.inset {
  padding: 0 calc(1 / 48 * 100vw);
}

#mc_embed_signup {
  font: inherit !important;
}

.countdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}

.countdown > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  position: absolute;
  right: 0;
  bottom: 0;

  padding: calc(1 / 48 * 100vw);

  color: white;
  font-family: "Clash Grotesk", sans-serif;
  letter-spacing: 0.05em;

  transition: height ease-in-out 1s;

  pointer-events: all;
}

.election {
  background: var(--election-bg);
  left: calc(1 / 48 * 100vw);
  height: 100%;
}

.registration {
  background: var(--registration-bg);
  left: calc(2 / 48 * 100vw);
  height: 50%;
}

.label {
  text-align: right;
}

.label > .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.label > .timer {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

footer {
  display: none;
}

@media screen and (max-width: 1024px) {
  article {
    max-width: calc(32 / 48 * 100vw);
  }

  .label {
    max-width: calc(12 / 48 * 100vw);
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  header .logo {
    display: none;
  }

  article {
    max-width: calc(36 / 48 * 100vw);
    margin: 0 calc(6 / 48 * 100vw) calc(6 / 48 * 100vw);
  }

  .election,
  .registration {
    left: 0;
  }

  .countdown > .registration {
    align-items: flex-start;
  }

  .label {
    max-width: 100%;
    white-space: nowrap;
  }

  .election > .label {
    transform-origin: 100% 0;
    transform: rotate(-90deg) translateY(-100%);
  }

  .registration > .label {
    text-align: left;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(calc(2 / 48 * 100vw));
  }

  .label > .title {
    font-size: 14px;
    line-height: 17px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .logo {
    width: calc(18 / 48 * 100vw);
  }
}
